.sectionTestimonios {
    padding: 0.625rem;
    font-family: "Poppins", sans-serif;
  }
  .sectionTestimonios .tituloTestimonios {
    color: #470063;
    font-size: 3rem;
    text-align: center;
    padding: 1.25rem;
  }
  .sectionTestimonios .cardTestimonios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .9375rem;
  }
  .sectionTestimonios .cardCompleta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  