.buttonCar{
    border: 0;
}

.drawerCar{
    padding: 1.25rem;
    font-size: 1.125rem;
    background-color: #EAE8FF
}
.titleCar{
    font-size: 1.375rem;
    padding-bottom: .9375rem;
    border-bottom: .0625rem solid #470063;
    color:#470063;
}
.textCar{
    padding-top: .9375rem;
}
.divImg{
    padding-top: .9375rem;
    width: 6.25rem;
    height: 6.25rem;
}
.btnComprar{
    background-color: #FF1D79;
    font-size: 1.125rem;
    margin: 1.25rem;
}
.btn{
    background-color: rgba(255, 255, 255, 0);
    color: black;
}
.agg{
    margin-bottom: 1.25rem
}

@media (max-width: 745px) {
    .buttonCar{
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        overflow: hidden;
    }
}