
  .cardCompleta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .divTestimonios {
    background-color: #EAE8FF;
    width: 15.875rem;
    height: 25rem;
    border-radius: 0.9375rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .divTestimonios .textoCardTestimonios {
    color: #470063;
    font-size: 1.125rem;
  }
  .divTestimonios .nombre {
    color: #E3196A;
    font-size: 1.125rem;
    font-weight: 700;
  }
  .divTestimonios .divImg{
    border-radius: 50%;
    width: 6.125rem;
    height: 6.125rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .625rem;
    margin-top: .625rem;
  }

  .fotoCliente{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }