.sectionCollection{
    background-color: #EAE8FF;
    padding: 3.125rem 4.375rem 3.125rem 4.375rem;
}
.titleNecklace{
    display: flex;
    font-weight: 500;
    font-size: 2.66rem;
    color: #E3196A;
    padding: .625rem 3.125rem .625rem 0rem;
    justify-content: space-between;
    align-items:start;
    flex-direction: row;
    margin-bottom: 3.125rem;
}
.videoSection {
  position: relative;
  width: 100%;
  max-width: 230px;
  max-height: 230px;
  aspect-ratio: 9 / 16;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: #EAE8FF;
}

.videoSection iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 177.78%;
  transform: translate(-50%, -50%);
  border: none;
}
.soundButton {
  position: absolute;
  bottom: 12px;
  left: 70%;
  transform: translateX(-60%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.soundButton:hover {
  background: rgba(0, 0, 0, 0.8);
}
.filtersSection{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1.875rem;
    margin-bottom: 3.125rem;
    font-size: 1.125rem;
    color: #363636;
}
.container{
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
}
.productsSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
}
.products{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.subtitleNecklace{
    font-weight: 300;
    font-size: 1.125rem;
    color: #363636;
}
.whatsappFloat {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}

.whatsappFloat:hover {
  transform: scale(1.1);
}

.whatsappIcon {
  width: 35px;
  height: 35px;
}
@media (max-width: 825px) {
    .titleNecklace{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;;
    flex-direction: column;
    padding: 5px;
    }
}
@media (max-width: 480px) {
    .sectionCollection{
        padding: 1.25rem;
    }
    .filtersSection{
        flex-direction: column;
    }
}