.sectionCompra {
    padding: 3.125rem;
    padding-bottom: .625rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
  }
  .linea {
    height: 6px;
    width: 100%;
    background-color: #E3196A;
    grid-row: 2/3;
    grid-column: 1/3;
    align-self: center;
    border-radius: 20px;
    opacity: 100;
  }
  .tituloCompra {
    color: #E3196A;
    font-size: 3rem;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/3;
    padding: 1.25rem;
  }
  .contenedorCompra {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-items: center;
  }
  .cardCompra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 55px;
    background-color: #E3196A;
    width: 700px;
    height: 190px;
    border-radius: 3.125rem;
  }
  .divCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .textoCompra {
    color: white;
    font-size: 1.125rem;
  }
  .articleEnvio{
    grid-row: 3/3;
    grid-column: 1/3;
    justify-items: center;
    padding: .625rem;
  }
  .divEnvio{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: .3125rem;
    gap: .375rem;
  }
  .divEnvio2{
    display: flex;
    flex-direction: column;
    margin: .3125rem;
  }
  .h3envio{
    color: #470063;
    font-weight: 500;
  }

  @media (max-width: 930px) {
    .tituloCompra{
        font-size: 1.75rem;
        padding: 1.875rem;;
    }
  }
  @media (max-width: 770px) {
    .sectionCompra {
      padding: .625rem;
      padding-bottom: 1.875rem;
    }
    .cardCompra {
      gap: 30px;
      width: 31.25rem;
      height: 10rem;
      border-radius: 1.875rem;
    }
    .imgCompra{
      width: 3.75rem;
      height: 3.75rem;
    }
  }
  @media (max-width: 580px) {
    .tituloCompra{
      padding: .625rem;
  }
    .cardCompra {
      gap: 15px;
      width: 19.375rem;
      height: 6.25rem;
      border-radius: 1.875rem;
    }
    .imgCompra{
      width: 2.5rem;
      height: 2.5rem;
    }
    .compra2{
      display: none;
    }
    .textoCompra {
      font-size: 1rem;
    }
    .divEnvio{
    flex-direction: column;
    }
  }