.presentacionBorbolet {
    background-color: #EAE8FF;
    font-family: "Poppins", sans-serif;
  }
.frase{
    width: 100%;
}
.articlePresentacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 0rem 1.25rem 0rem 1.25rem;
}

.divImg{
    border-radius: .625rem;
    width: 21.875rem;
    height: 28.125rem;
    overflow: hidden;
}
.divImgIndigenas{
  border-radius: .625rem;
  width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
}
.imgCreadora{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.txtCreadora{
    font-size: 1.875rem;
    color: #470063;
    margin-bottom: 3.125rem;
}
.flechas{
    text-align: right;
    margin-right: 3.125rem;
}
.articleHistoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 1.25rem;
    padding-top: 5rem;
}
.imgIndigenas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.txtCreadora{
    font-size: 1.875rem;
    color: #FF1D79;
    margin-bottom: 3.125rem;
}
.imgFlecha{
    transform: scaleX(-1);
    margin-left: 3.125rem;
    margin-bottom: 3.125rem;
}
.articleResultado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 0rem 5rem 0rem 5rem;
}
.imgModelos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.txtCreadora{
    font-size: 1.875rem;
    color: #470063;
    margin-bottom: 3.125rem;
}
.presentacionMensaje{
    background: rgb(71, 0, 99);
    background: linear-gradient(0deg, rgb(71, 0, 99) 0%, rgb(234, 232, 255) 100%);
    margin-top: 6.25rem;
    padding: 2.5rem;
}
.imgpresentacionMensaje{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4.375rem;
}
.divPresentacionArete{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
}

.aretePresentacion{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pMensaje {
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
    padding: 1.875rem;
}
.divbtnComprar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnComprar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.75rem;
    height: 2.875rem;
    font-size: 1.125rem;
    background-color: #FF1D79;
    color: white;
    padding: 18px;
    border-radius: 1.25rem;
    border: 0.125rem solid #FF1D79;
    cursor: pointer;
    box-shadow: .0625rem .0625rem .0625rem #555555;
}

@media (max-width: 1315px) {
  .divImg{
    width: 15.625rem;
    height: 21.875rem;
  }
  .txtCreadora {
    font-size: 1.25rem;
    color: #470063;
    margin-bottom: 3.125rem;
  }
  .articleHistoria {
    padding: 1.25rem;
    padding-top: 1.25rem;
    gap: .625rem;
  }
  .articleResultado{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: .9375rem;
    padding: .625rem;
  }
  .pMensaje{
    font-size: 1.75rem;
    padding: .9375rem;
  }
  .divPresentacionArete{
    width: 6.25rem;
    height: 6.25rem;
  }
  .imgpresentacionMensaje{
    gap: .625rem;
    margin: 0rem;
    padding: 0rem;
  }
  .presentacionMensaje{
    padding: 1.25rem;
    padding-bottom: 1.875rem;
  }
  .divImgIndigenas{
    width: 9.375rem;
    height: 15.625rem;
}
}

@media (max-width: 400px) {
  .divPresentacionArete{
    width: 4.375rem;
    height: 4.375rem;
  }
  .pMensaje{
    font-size: 1.125rem;
    padding: .9375rem;
  }
}