.presentacionBorbolet {
    background-color: #EAE8FF;
    font-family: "Poppins", sans-serif;
  }
  .presentacionBorbolet .frase {
    width: 100%;
  }
  .presentacionBorbolet .articlePresentacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 0rem 1.25rem 0rem 1.25rem;
  }

  .divImg{
    border-radius: .625rem;
    width: 21.875rem;
    height: 28.125rem;
    overflow: hidden;
  }
  .imgCreadora {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .presentacionBorbolet .articlePresentacion .txtCreadora {
    font-size: 1.875rem;
    color: #470063;
    margin-bottom: 50px;
  }
  .presentacionBorbolet .articlePresentacion .divCreadora .flechas {
    text-align: right;
    margin-right: 50px;
  }
  .presentacionBorbolet .articleHistoria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 1.25rem;
    padding-top: 5rem;
  }
  .imgIndigenas {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .presentacionBorbolet .articleHistoria .txtCreadora {
    font-size: 1.875rem;
    color: #FF1D79;
    margin-bottom: 3.125rem;
  }
  .presentacionBorbolet .articleHistoria .flechas .imgFlecha {
    transform: scaleX(-1);
    margin-left: 3.125rem;
    margin-bottom: 3.125rem;
  }
  .presentacionBorbolet .articleResultado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    padding: 0px 80px 0px 80px;
  }
  .imgModelos {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .presentacionBorbolet .articleResultado .txtCreadora {
    font-size: 1.875rem;
    color: #470063;
    margin-bottom: 50px;
  }
  .presentacionBorbolet .presentacionMensaje {
    background: rgb(71, 0, 99);
    background: linear-gradient(0deg, rgb(71, 0, 99) 0%, rgb(234, 232, 255) 100%);
    margin-top: 6.25rem;
    padding: 2.5rem;
  }
  .presentacionBorbolet .presentacionMensaje .imgpresentacionMensaje {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4.375rem;
  }
  .divPresentacionArete{
    border-radius: 50%;
    width: 128px;
    height: 128px;
    overflow: hidden;
  }

  .aretePresentacion{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .presentacionBorbolet .presentacionMensaje .pMensaje {
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
    padding: 20px;
  }
  .presentacionBorbolet .presentacionMensaje .divbtnComprar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .presentacionBorbolet .presentacionMensaje .divbtnComprar .btnComprar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 2.875rem;
    font-size: 1.125rem;
    background-color: #FF1D79;
    color: white;
    padding: 18px;
    border-radius: 1.25rem;
    border: 0.125rem solid #FF1D79;
    cursor: pointer;
    box-shadow: 1px 1px 1px #555555;
  }