.sectionFotografia {
    margin-bottom: 1.25rem;
  }
.tituloFotografia {
    font-size: 3rem;
    text-align: center;
    color: #470063;
    font-style: italic;
    margin-top: 20px;
}
.fotografias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.875rem;
    gap: 5px;
}

.divFotografia{
    width: 29.5rem;
    height: 27.5rem;
    border-radius: 3.125rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotografia{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 930px) {
  .tituloFotografia{
      font-size: 1.75rem;
      padding: 1.875rem;;
  }
  .fotografias {
    gap: .625rem;
}
}
@media (max-width: 550px) {
    .divFotografia{
        width: 23.75rem;
        height: 22.5rem;
    }
}
@media (max-width: 425px) {
    .divFotografia{
        width: 320px;
        height: 300px;
    }
}