.sectionCollection{
    background-color: #EAE8FF;
    padding: 1.25rem;
}
.titleCollection{
    color: #470063;
    font-size: 3rem;
    text-align: center;
    padding: 3.125rem, 3.125rem, .1875rem, 3.125rem;
}
.sectionVideos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    flex-direction: row;
    margin-top: 3.125rem;
}
.videoYoutube {
  position: relative;
  width: 100%;
  max-width: 255px; /* tamaño del “celular” */
  aspect-ratio: 9 / 16; /* proporción vertical */
  overflow: hidden;
  border-radius: 24px; /* bordes redondeados estilo pantalla */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* sombra elegante */
  background: #470063;/* por si el video tarda en cargar */
}

.videoYoutube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.divEarrings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.875rem;
    align-items: center;
}
.earrings{
    margin-top: 5rem;
}
.divEarringsTxt{
    align-items: center;
}
.divEarringsCards{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 1.875rem;
}
.category{
    color: #470063;
    font-size: 1.875rem;
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
    text-align: center;
}
.vermas{
  display: flex;
  width: 9.3125rem;
  height: 2.875rem;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  background-color: #E3196A;
  color: white;
  padding: 18px;
  border-radius: 1.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem #555555;
  border: 0.125rem solid #E3196A;
  cursor: pointer;
}
.divButton{
    display: flex;
    justify-content: flex-end;
    padding: 2.1875rem;
    margin-right: 6.25rem;
    margin-bottom: 5rem;
}
.containBanner{
    display: flex;
    justify-content: center;
}
.banner{
    display: flex;
    justify-content: center;
    background-color: #470063;
    width: 14.5625rem;
    height: 2.0625rem;
    color: #ffffff;
    font-style: italic;
    align-items: center;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
}

@media (max-width: 1200px) {
    .divEarringsCards{
        gap: .9375rem;
    }
}
@media (max-width: 930px) {
    .titleCollection{
        font-size: 1.75rem;
        padding: 1.875rem;
    }
    .cards{
        display: none;
    }
    .divEarrings{
        gap: .625rem;
    }
    .banner{
        width: 12.5rem;
        height: 1.875rem;
    }
    .category{
        font-size: 1.375rem;
    }
}
@media (max-width: 625px) {
    .vermas{
        width: 8.125rem;
        height: 1.5625rem;
    }
    .divButton{
          justify-content: center;
          margin: 0rem;
          padding: 0rem;
          margin-top: 2.1875rem;
          margin-bottom: 5.625rem;
    }
}
@media (max-width: 500px) {
    .titleCollection{
        font-size: 1.5rem;
        padding: 1.25rem;
    }
    .category{
        font-size: 1.125rem;
    }
    .sectionVideos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    flex-direction: row;
    margin-top: .625rem;
}
    .videoYoutube {
        max-width: 210px;
    }
    
}