.sectionCollection{
    background-color: #EAE8FF;
    padding: 3.125rem 4.375rem 3.125rem 4.375rem;
}
.titleEarrings{
    font-weight: 500;
    font-size: 2.66rem;
    color: #E3196A;
    padding: .625rem 3.125rem .625rem 0rem;
}
.subtitleEarrings{
    font-weight: 300;
    font-size: 1.125rem;
}
.subtitleEarrings2{
    font-weight: 300;
    font-size: 1.125rem;
    padding-bottom: 2.1875rem;
}
.filtersSection{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1.875rem;
    margin-bottom: 3.125rem;
    font-size: 1.125rem;
    color: #363636;
}
.container{
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
}
.productsSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
}
.products{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .sectionCollection{
        padding: 1.25rem;
    }
    .filtersSection{
        flex-direction: column;
    }
}