.sectionSlider {
    background-color: #470063;
    font-family: "Poppins", sans-serif;
    padding: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
  }
  .slideTrack {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    animation: 20s slide infinite linear;
    width: 2848px;
  }
  .slide {
    display: flex;
    flex-direction: row;
  }
  .containerSlide {
    display: flex;
    flex-direction: row;
  }
  .textoSlide {
    color: aliceblue;
    font-size: 1.875rem;
    align-self: center;
    margin: 10px 50px 10px 25px;
  }
  .imgSlide {
    width: 100%;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1424px);
    }
  }

  @media (max-width: 840px) {
    .slideTrack {
      height: 40px;
    }
    .textoSlide {
      font-size: 1.125rem;
      margin: 10px 50px 10px 25px;
    }
  }